.mat-toolbar{
  background: #4758B8;
}
mat-toolbar a {
  text-decoration: none;
  color: black;

}

.main-content {
  min-height: 300px;
  max-height: 750px;
  overflow: auto;
  width: 80%;
}

app-home {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  justify-content: center;

}

.container {
  background-color: whitesmoke;
  min-width: 450px;
  max-height: 800px;
  overflow: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  width: 20%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

}

.caloriesContent {
  display: flex;
  flex-direction: row;
}

.calories-input {
  width: 90%;
}

#mat-mdc-slide-toggle-label {
  color: black;
}


.calories-checkbox {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;


}

mat-slide-toggle {
  height: 50px;
}


.mat-mdc-checkbox .mdc-form-field {
  color: black;
}

.run-duration_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.run-duration_slider {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.hours_content, .minutes_content, .seconds_content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.total_time {
  font-weight: bold;
  font-size: 20px;
}

.form-button {
  display: flex;
  flex-direction: row;
}
.form-button button{
  margin: 10px;
  width: 50%;
}
.alert{
  color: red;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
