@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

html * {
  font-family: 'Cormorant Garamond', serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  background: #4758B8;
}

mat-toolbar a {
  text-decoration: none;
  color: white;
}

app-home {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  min-height: 300px;
  max-height: 750px;
  overflow: auto;
  width: 80%;
}

.main-content h1 {
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.form-content {
  display: flex;
  justify-content: center;
}
.form-content h1{
  font-size: 36px;
}
.form-content h1,
.form-content h2{
  font-family: 'Cormorant Garamond', serif ;
}
.container {
  background-color: whitesmoke;
  min-width: 450px;
  max-height: 800px;
  overflow: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  width: 20%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

}

.caloriesContent {
  display: flex;
  flex-direction: row;
}


.calories-input {
  width: 90%;
}

.calories-checkbox {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;


}


.run-duration_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.run-duration_slider {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.time_content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.total_time {
  font-weight: bold;
  font-size: 20px;
}

.form-button {
  display: flex;
  flex-direction: row;
}

.form-button button {
  margin: 10px;
  width: 50%;
}

.alert {
  color: red;
}

/*#mat-mdc-slide-toggle-label {
  color: black;
}

mat-slide-toggle {
  height: 50px;
}

.mat-mdc-checkbox .mdc-form-field {
  color: black;
}*/
