<div class="form-content">
  <div class="container">
    <h1 class="form-title">Add new run</h1>
    <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label>Date of run</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="alert alert-danger">
        <div *ngIf="date?.errors?.['required']">
          Date is required
        </div>

      </div>
      <mat-form-field class="form-field">
        <mat-label>Kilometers</mat-label>
        <input matInput (change)="calculateCalories()" type="number" step="0.01" min="0" formControlName="kilometers">

      </mat-form-field>
      <div *ngIf="kilometers?.invalid && (kilometers?.dirty || kilometers?.touched)" class="alert alert-danger">
        <div *ngIf="kilometers?.errors?.['required']">
          Run length is required
        </div>
        <div *ngIf="kilometers?.errors?.['min'] || kilometers?.errors?.['max']">
          Please type a valid run length (0.01-200)
        </div>
      </div>
      <div class="caloriesContent">
        <div class="calories-input">
          <mat-form-field class="form-field ">
            <mat-label>Calories burned</mat-label>
            <input matInput type="number" min="0" formControlName="calories">
          </mat-form-field>
        </div>
        <div class="form-field calories-checkbox">
          <mat-checkbox (change)="checkboxChangeState()" title="Count calories automatically"
                        id="caloriesCheckbox"></mat-checkbox>
        </div>
      </div>
      <div *ngIf="calories?.invalid && (calories?.dirty || calories?.touched)" class="alert alert-danger">
        <div *ngIf="calories?.errors?.['required']">
          Calories are required
        </div>
        <div *ngIf="calories?.errors?.['min'] || calories?.errors?.['max']">
          Please type a valid calories (1-15 600)
        </div>
      </div>
      <div class="run-duration_content">
        <div class="run-duration_slider">
          <div class="hours_content">
            <label>Hours</label>
            <mat-slider min="0" max="40" step="1">
              <input #hours formControlName="hours" (valueChange)="setHours(hours.value)" matSliderThumb>
            </mat-slider>
          </div>
          <div class="minutes_content">
            <label>Minutes</label>
            <mat-slider min="0" max="59" step="1">
              <input #minutes formControlName="minutes" (valueChange)="setMinutes(minutes.value)" matSliderThumb>
            </mat-slider>
          </div>
          <div class="seconds_content">
            <label>Seconds</label>
            <mat-slider min="0" max="59" step="1">
              <input #seconds formControlName="seconds" (valueChange)="setSeconds(seconds.value)" matSliderThumb>
            </mat-slider>
          </div>
        </div>
        <div class="total_time">
          {{hoursValue}}:{{minutesValue}}:{{secondsValue}}
        </div>

      </div>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
      <div *ngIf="description?.errors?.['maxlength']">
        Length of description should be less than 255 characters
      </div>
      <button id="form-button" mat-flat-button color="primary" >{{isAddMode? 'Add training':'Update training'}}</button>
     <!-- <button class="form-button" mat-flat-button color="primary" *ngIf="isAddMode">Add training</button>-->


    </form>
  </div>
</div>
